.use-case-properties {margin-bottom:30px; margin-right:0;}
.use-case-properties:after {content:''; display:table; clear:both;} /* clearfix */
.use-case-properties dt {float:left; clear:left; width:25%; padding:5px 0;}
.use-case-properties dt:after {content:':'}
.use-case-properties dd {border-bottom:1px solid #ccc; padding:5px 0; margin:0;}

/*
.scenario and .scenario-columns-header are for the pure CSS version using <ol>
	(also for lists of steps in a single column rather than broken down to user and system)
.scenario-table is the <table> version (<ol> is converted to two-column <table> using jQuery
*/

.scenario-columns-header {margin-bottom:15px;}
.scenario-columns-header h4 {margin:0; padding-left:15px; width:50%; float:left;}

.scenario, .scenario-table {counter-reset: step;}
.scenario {margin-left:30px;}
.scenario, .scenario-table ol {text-indent:-1.1em;}
.scenario-table ol {margin:0 15px;}

.scenario-table td {vertical-align:top;}
.scenario-table td:first-child {width:50%;}

.scenario:after {content:''; display:table; clear:both;} /* clearfix */
.scenario li, .scenario-table li {list-style:none;}

.scenario li, .scenario-table li {margin-bottom:1em;}
.scenario li li:first-child, .scenario-table li li:first-child {margin-top:1em}
.scenario > .user {width:45%;}
.scenario > .system {width:55%;}

.scenario li:before, .scenario-table li:before {font-weight:bold;}
.scenario > li:before, .scenario-table ol > li:before {content:counter(step) ". "; counter-increment: step; text-indent:-20px;}

.scenario .user {float:left; clear:both;}
.scenario .system {float:right; clear:right; padding-left:15px;}

.scenario li > ol, .scenario-table li > ol {counter-reset: sub-step;}
.scenario li > ol > li:before, .scenario-table li > ol > li:before {
	content: counter(step) "." counter(sub-step) ". "; counter-increment: sub-step;
}

.scenario li > ol ol, .scenario-table li > ol ol {counter-reset: sub-step2;}
.scenario li > ol ol > li:before, .scenario-table li > ol ol > li:before {
	content: counter(step) "." counter(sub-step) "." counter(sub-step2) ". "; counter-increment: sub-step2;
}

/* there should ideally be a .scenario div wrapping each scenario; this is a fallback */
.use-case li {margin-bottom:1em;}